// base
@import 'base/reset';

// variables
@import 'variables/index';
@import 'utils';

// main styles
body {
  font-family: $font-family-default;
  font-size: $font-size-default;
  line-height: $line-height-default;
  font-weight: $font-weight-normal;
  background: $color-dark;
  color: $color-light;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  user-select: none;
}

*[hidden] {
  display: none !important;
}

a {
  color: $color-light;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.label {
  background: $color-light;
  color: $color-dark;
  border-radius: 4px;
  text-align: center;
  padding: 2px 10px;
}

.attention {
  color: $color-light;
  background: linear-gradient(270deg, #8f59f7, #d00a41);
  background-size: 400% 400%;
  animation: attention .5s ease infinite;
}

@keyframes attention {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
