.flex {
  display: flex;
  &.center {
    justify-content: center;
    align-items: center;
  }
  &.column {
    flex-direction: column;
  }
  &.j-center {
    justify-content: center;
  }
  &.j-end {
    justify-content: flex-end;
  }
  &.a-center {
    align-items: center;
  }
  &.a-end {
    align-items: flex-end;
  }
}

.cards {
  .card {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
